.navBar{
  float: left;
  margin-right: 30px;
  margin-left: 0px;
}

.main{
  /*width: 70%;*/
  float: right;
  padding: 10px;
  border: 2px solid gray;
}

.logo{
  display: block;
  padding: 10px;
}
.logoNavBar{
  display: inline;
  padding-right: 5px;
}
/*body {
  margin: 0;
  font-family: Karla;
  font-style: normal;
}*/

/*code {
  font-family: Karla;
  font-style: normal;
}*/

.vertical-menu {
 /*  width: 150px; Set a width if you like */
  /*margin-left: 0px;
  float: left;
  width: 90%;*/
  margin-left: -50px;
  float: left;
  width: 200px;
  height: 700px;


  background: #5363C7;
  border-radius: 40px;

}

.vertical-menu a {
  /* background-color: #eee; Grey background color */
  /* color: black; Black text color */
  display: inline-block;/* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;

  opacity: 0.5;
}
.vertical-menu li{
  display: inline;
}

.vertical-menu a:hover{
  color: #FFFFFF;
  opacity: 1;
}

/*.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over 
}*/

/*.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link 
  color: white;
}*/

.form{
  position: absolute;
  left: 260px;
  right: 24px;
  top: 30px;
  bottom: 29px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  align-content: center;
  float: left;
  /*padding: 50px;
  background-color: #ccc;
  align-content: center;
  float: left;*/
}

.titleJobs {
  padding-left: 10px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  /* Gray 1 */
  color: #333333;
}

.jobApptrackDiv{
  position: absolute;
  left: 260px;
  right: 24px;
  top: 30px;
  bottom: 29px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.appTracker_compName{
  color: #000000;
}
.appTracker_position{
  color: rgba(0, 0, 0, 0.5);
}
.appTracker_description{
  color: #000000;
}

.appTracker_notes{
  word-wrap: break-word;
  color: #000000;
  font-weight: normal;
}
.appTracker_statusOfApplication_box{
  width: 135px;
  height: 39px;
  padding-left: 40px;
  /* Gray 2 */
  background: #4F4F4F;
  border-radius: 10px;

}

.appTracker_statusOfApplication{
  align-items: center;
  /*padding-top: 10px;*/
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */
  display: flex;


  /* Gray 6 */
  color: #F2F2F2;
}

.jobAppTable tr{
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  
}
/*.jobAppTable tr:hover{
  background-color: #ccc;
  border-radius: 3px;
}
*/
.jobAppTable a:hover{
  color: #404040;
}

.jobApptrackDiv td{
  width: 220px;
}
.jobAppTable a{
  color: rgba(0, 0, 0, 0.5);
  text-underline-position: None ;
}


label {
  margin-bottom: 10px;
  padding: 12px;
  display: inline-block;
}

.form input{
  
  display: block;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form select{
  width: 85%;
  display: inline-block;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form textarea{
  width: 72%;
  display: inline-block;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form button{
  width: 15%;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


